.header-container {
  color: $DARK_BLUE;
  font-size: 70px;

  padding-top: $PADDING__HEADER_VERTICAL;
  padding-bottom: $PADDING__HEADER_VERTICAL;
  padding-left: $PADDING__STANDARD;
  padding-right: $PADDING__STANDARD;
}
