// Colors

$LIGHT_WHITE: #F5F5F5;
$DARK_WHITE: #EEEEEE;

$LIGHT_BLUE: #7395AE;
$DARK_BLUE: #557A95;

$LIGHT_BROWN: #968373;
$DARK_BROWN: #5D5C61;

$LIGHT_TAN: #C2B9B0;
$DARK_TAN: #B1A296;

// Border, Margin, Padding

$PADDING__STANDARD: 10px;
$PADDING__HEADER_VERTICAL: 10px;

$FONT_SIZE__LOOKUP_WIDGET: 40px;
